<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class=" align-items-center justify-content-between mb-4 pb-3 border-bottom border-dark">
        <h1 class="h3 mb-0 text-white">Invoice Report</h1>
        <P class="mt-2">View history of invoices over time and download PDF versions of each invoice. A
            maximum of 5 invoices can be downloaded at the same time.</P>
    </div>

    <!-- ===================================== form section start =====================================-->

    <div class="row">
        <div class="col-md-12">
            <div id="in_repo">
                <div class="hero border-dark border-1 rounded mb-5">
                    <div class="py-5 px-4 text-center">
                        <!-- ================ form ================ -->

                        <form class="text-left">
                            <!-- ================ 1st row ================ -->
                            <div class="row ">

                                <div class="col-md-6">

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect19" class="text-color">(Date Range)
                                                    Start date</label>
                                                <input class="form-control" type="date" id="startdate3" name="date">
                                            </div>

                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect20" class="text-color">End
                                                    date</label>
                                                <input class="form-control" type="date" id="enddate3" name="date">
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="row mt-3">
                                <div class="col-md-12 d-flex justify-content-center">
                                    <button type="button" class="btn btn-outline-warning m-2">Apply
                                        Filters</button>
                                    <button type="button" class="btn-purple m-2">Clear Filters</button>
                                </div>
                            </div>

                        </form>
                        <!-- ================ form ================ -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ===================================== form section End =======================================-->


</div>
<!-- /.container-fluid -->