<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class=" align-items-center justify-content-between mb-4 pb-3 border-bottom border-dark">
        <h1 class="h3 mb-0 text-white">Payment History</h1>
        <P class="mt-2">View your transaction history and fund balances over time.</P>
    </div>

    <!-- ===================================== form section start =====================================-->

    <div class="row">
        <div class="col-md-12">
            <div id="Pay_his">
                <div class="hero border-dark border-1 rounded mb-5">
                    <div class="py-5 px-4 text-center">
                        <!-- ================ form ================ -->

                        <form class="text-left">
                            <!-- ================ 1st row ================ -->
                            <div class="row ">

                                <div class="col-md-3 ">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect16" class="text-color">Transaction
                                            Type</label>
                                        <select class="form-control" id="exampleFormControlSelect16">
                                            <option disabled selected hidden>All Transaction Types
                                            </option>
                                            <option>Debit</option>
                                            <option>Credit</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect17" class="text-color">(Date Range)
                                                    Start date</label>
                                                <input class="form-control" type="date" id="startdate2" name="date">
                                            </div>

                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect18" class="text-color">End
                                                    date</label>
                                                <input class="form-control" type="date" id="enddate2" name="date">
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="row mt-3">
                                <div class="col-md-12 d-flex justify-content-center">
                                    <button type="button" class="btn btn-outline-warning m-2">Apply
                                        Filters</button>
                                    <button type="button" class="btn-purple m-2">Clear Filters</button>
                                </div>
                            </div>

                        </form>
                        <!-- ================ form ================ -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ===================================== form section End =======================================-->


</div>
<!-- /.container-fluid -->