<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class=" align-items-center justify-content-between mb-4 pb-3 border-bottom border-dark">
        <h1 class="h3 mb-0 text-white">Referral Program</h1>
        <P class="mt-2">Get your Referral URL as well as keep track of your past referral and bonuses.
        </P>
    </div>

    <!-- ===================================== form section start =====================================-->
    <div class="row">
        <div class="col-md-12">
            <div id="refral-pro">
                <div class="hero border-dark border-1 rounded mb-5">
                    <div class="py-5 px-4 ">
                        <!-- ================ form ================ -->
                        <div class="row mb-2">
                            <div class="col-md-2">
                                <p>Your Referral Link :</p>
                            </div>
                            <div class="col-md-10">
                                Send this link when referring TrafficJunky to get your bonus
                                <div class="row mt-2">
                                    <div class="col-10">
                                        <input type="read" class="form-control" id="link"
                                            value="https://adserotic.com/sign-up/advertiser?source=referral&referralCode=49f6607d64791kkj8lsb"
                                            readonly>
                                    </div>
                                    <div class="col-2">
                                        <button type="button" class="btn btn-secondary" data-toggle="tooltip"
                                            data-placement="top" title="Copy To Clipboard" style="border-radius: 2px;">
                                            <i class="fas fa-copy"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 ">
                                <p>Status :</p>
                            </div>
                            <div class="col-md-8 ">
                                Allowed to refer
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <p>Commission :</p>
                            </div>
                            <div class="col-md-10">
                                10.00%
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <p>Duration :</p>
                            </div>
                            <div class="col-md-10">
                                30 Day(s)
                            </div>
                        </div>
                        <!-- ================ form ================ -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ===================================== form section End =======================================-->




</div>
<!-- /.container-fluid -->