<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class=" align-items-center justify-content-between mb-4 pb-3 border-bottom border-dark">
      <%- include('../layouts/alerts') %>
      <h1 class="h3 mb-0 text-white">Change Password</h1>
      <P class="mt-2">Update your Password here
      </P>
  </div>

  <!-- ===================================== form section start =====================================-->
  <div class="row">
      <div class="col-md-12">
          <div id="refral-pro">
              <div class="hero border-dark border-1 rounded mb-5">
                  <div class="py-5 px-4 ">
                      <!-- ================ form ================ -->
                      <form method="post" action="">
                          <div class="row mb-2">
                              <div class="col-md-2">
                                  <p>Older Password :</p>
                              </div>
                              <div class="col-md-10">
                                  <input type="read" class="form-control" id="p1-uname" name="olderpassword" value="">
                              </div>
                          </div>
                          <div class="row mb-2">
                              <div class="col-md-2">
                                  <p>New Password :</p>
                              </div>
                              <div class="col-md-10">
                                  <input type="text" class="form-control" id="c1-password" name="newpassword"
                                      value="">
                              </div>
                          </div>
                          <div class="row mb-2">
                              <div class="col-md-2 ">
                                  <p>Confirm Password :</p>
                              </div>
                              <div class="col-md-10 ">
                                  <input type="text" class="form-control" id="p1-lname" name="confirmpassword"
                                      value="">
                              </div>
                          </div>                            
                         <div class="row mb-2">
                              <div class="col-md-2">
                              </div>
                              <div class="col-md-10">
                                  <button class="btn btn-outlined">Update</button>
                              </div>
                          </div>
                      </form>
                      <!-- ================ form ================ -->
                  </div>
              </div>
          </div>
      </div>
  </div>


  <!-- ===================================== form section End =======================================-->




</div>