<!-- Begin Page Content -->
<div class="container-fluid page-list">
    <%- include('../layouts/alerts') %>

    <!-- Page Heading -->
    <div class=" align-items-center justify-content-between mb-4 pb-3 border-bottom border-dark">
        <h1 class="h3 mb-0 text-white">All Pages</h1>
        <!-- <P class="mt-2">Get your Referral URL as well as keep track of your past referral and bonuses. -->
        </P>
    </div>

    <!-- ===================================== table section  =======================================-->

   <div class="row">
        <div class="col-md-12">
            <div id="hero">
               <div class="hero border-dark border-1 rounded">
                   <div class="py-5 px-5 ">
                 <div class="table-responsive">
                    <table class="table" id="myTable">
                        <thead>
                          <tr class="table-primary-color">
                            <th scope="col" >ID</th>
                            <th scope="col">Url</th>
                            <th scope="col">Category</th>
                            <th scope="col">State</th>
                            <th scope="col">Price</th>
                            <th scope="col">Action</th>

                          </tr>
                        </thead>
    
                        <tbody>
                          
                        </tbody>
                      </table>
                    </div>
                   </div>
               </div>
            </div>
        </div>
     </div>

     




</div>
<!-- /.container-fluid -->