</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Bootstrap core JavaScript-->
<script src="/public/vendor/jquery/jquery.min.js"></script>
<script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/public/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/public/javascripts/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<!-- <script src="/public/vendor/chart.js/Chart.min.js"></script> -->

<!-- Page level custom scripts -->
<!-- <script src="/public/javascripts/demo/chart-area-demo.js"></script> -->
<!-- <script src="/public/javascripts/demo/chart-pie-demo.js"></script> -->

<script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!-- <% if(page === 'media_library'){ %>
<script src="/public/javascripts/media.js"></script>
<% } %> -->

<!-- <script src="/public/javascripts/media.js"></script> -->
<!-- <script src="/public/javascripts/handle-media.js"></script> -->

<script src="/public/javascripts/publisher-common.js"></script>


<% if(page === 'media_library'){ %>
<script src="/public/javascripts/upload.js"></script>
<% } %>

<% if(page === 'manage_label'){ %>
<script src="/public/javascripts/label.js"></script>
<% } %>

</body>
</html>