<section id="advertiser">
    <div class="advertiser">
        <div class="container">
            <div class="text-center">
                <h2 class="p_u_h2">How to become an <span>Advertiser</span> </h2>
                <p class="p_u_p">Our self-serve interface, advanced targeting options, CPM-bidding platform, and
                    highly-trafficked Publisher sites are<br>
                    a winning combination that will help you run a successful marketing campaign for your <br>online
                    ecommerce business.</p>

                <div class="text-center advertiser_box_btn">
                    <button type="button" class="btn">BECOME AN ADVERTISER</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==================================== network for publisher =============================== -->

<section id="netpublisher">
    <div class="net_for_publisher ">
        <div class="row text-center">

            <h2>You have <span>found</span> the best<br> <span>ads network</span> for advertisers</h2>
            <p class="mt-2">Your ads are only a few steps away from the audience you want to reach.</p>
            <div class="text-center netpublisher_btn">
                <button type="button" class="btn">GET STARTED</button>
            </div>
        </div>
    </div>
</section>

<!-- ==================================== network for publisher End=============================== -->

<section id="banner_ads" class="banner_ads">
    <div class="container">
        <div class="row box">


            <div class="text-center mt-3">
                <h2> ADVERTISING <span>FEATURES</span></h2>
                <p>effective solution to level up your performance marketing and digital advertising strategy.</p>
            </div>

            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="grid-box text-center">
                        <div class="">
                            <img src="/public/images/advertiser/target.png">
                        </div>
                        <div class="mt-3">
                            <p class="mb-0 box_title_text">ADVANCED TARGETING</p>
                            <p class="box_para_text mt-2">Rely on our advanced targeting features (geo, language, OS,
                                browser, sites, device...) to reach your audience and meet your CPA goals. Simple yet
                                effective Targeting for maximum profits.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="grid-box text-center">
                        <div class="">
                            <img src="/public/images/advertiser/performance.png">
                        </div>
                        <div class="mt-3">
                            <p class="mb-0 box_title_text">PERFORMANCE</p>
                            <p class="box_para_text box_para_textpt4 mt-2">You need to know what is working and what is
                                not. With our pixel tracking technology measure your ROI, you’ll always know that your
                                sales and revenue is coming from AdsErotic.</p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- ========================================= -->
            <div class="row ">
                <div class="col-md-6">
                    <div class="grid-box text-center">
                        <div class="">
                            <img src="/public/images/advertiser/security.png">
                        </div>
                        <div class="mt-3">
                            <p class="mb-0 box_title_text">Three-Level Security</p>
                            <p class="box_para_text mt-2">AdsErotic utilizes an effective combination of innovative
                                in-house and reliable third-party fraud detection systems, as well as a proper human
                                check, and provides you with the safest experience possible.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="grid-box text-center">
                        <div class="">
                            <img src="/public/images/advertiser/formate.png">
                        </div>
                        <div class="mt-3">
                            <p class="mb-0 box_title_text">Multiple Ad Formats</p>
                            <p class="box_para_text mt-2">Make more money with our vast variety of web and mobile ad
                                formats: Popunder, Push Ads, Banner Ads, Social Bar, Direct Link and VAST video.Create
                                campaigns ad formats and increase your reach.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<!-- ============================================= pop-under banner ========================================== -->