<section id="publishers">
    <div class="publishers">
        <div class="container">
            <div class="text-center">
                <h2 class="p_u_h2">Frequently Asked Questions</h2>
                <p class="">You have a question, we've got the answer!</p>

                <div class="text-center publishers_box_btn mt-4">
                    <div class="ask_que">
                        <div class="form d-none d-md-inline-block form-inline form_search me-0 me-md-3 my-2 my-md-0">
                            <i class="bi bi-search"></i>
                            <input type="text" class="form-control form-input"
                                placeholder="Search our FAQ's or select a category below...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==================================== network for publisher =============================== -->



<section id="FAQ" class="FAQ">
    <div class="container mt-4">
        <div class="row box">


            <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link gene_ral active" id="pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                        aria-selected="true">GENERAL</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link adver_tis" id="pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                        aria-selected="false">ADVERTISER</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link  funda_mentals" id="pills-contact-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">FUNDAMENTALS</button>
                </li>
            </ul>


            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="row">
                        <h5 class="text-center mt-4 mb-3">General</h5>
                        <div class="accordion " id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        What is TrafficJunky?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        TrafficJunky is an Ad Network that manages the banner advertisements for some of
                                        the world's largest Adult tube sites. TrafficJunky uses a self-serve bidding,
                                        pre-paid advertising platform to provide ad space to advertisers.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        What are TrafficJunky's Markets?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        TrafficJunky is mainly focused on the following online markets: Adult Dating,
                                        Adult Pay sites, Gambling and Entertainment, Health and Beauty, Sexual Wellness,
                                        Gaming, as well as many other markets. Please refer to our Rules & Regulations
                                        page in your account in order to see what products we permit to be promoted
                                        across our network, creative requirements, and rules.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        What are TrafficJunky's sources of traffic?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        TrafficJunky's primary network is composed of the world's most visited PC,
                                        Mobile and Tablet Adult tube sites. Ranging from websites that are ranked the
                                        Top 100 in the world to others that have specific niches. To see a list of the
                                        sites available through our network, please visit our Networks page.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        What are TrafficJunky's business hours?
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        The TrafficJunky team is available 24/7. Ad revision, payment processing, and
                                        customer support is only offered during business hours. If you require
                                        assistance outside of our opening hours, please send an email to
                                        support@trafficjunky.com and we will get back to you as soon as we are in the
                                        office.
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="row">
                        <h5 class="text-center mt-4 mb-3">Getting Started</h5>
                        <div class="accordion " id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFive" aria-expanded="true"
                                        aria-controls="collapseFive">
                                        How can I register to use TrafficJunky?
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse "
                                    aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Registration is quick, easy and free! There are two ways you can sign up to our
                                        platform:<br>

                                        1. Click on the Sign Up button on the top right hand corner of the page<br>
                                        or<br>

                                        2. Scroll down to the 'Get Started Now!' section and simply select which account
                                        best describes your business; i.e. Advertiser, fill in a username and email
                                        address - that's it!
                                        Before registering, please take the time to read and understand TrafficJunky's
                                        Terms of Use and Privacy Policy.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        How does TrafficJunky work?
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        TrafficJunky uses a self-serve bidding, pre-paid advertising platform. We are
                                        based on a CPM bidding model. You select the sites and spots you'd like to
                                        advertise on and bid for traffic. The higher the bid, the greater the percentage
                                        of traffic you'll get. You may also select specific Geo locations if you want to
                                        target countries, cities and states, as well as time targets if you see that
                                        certain time ranges work best for your ads. The amount you bid for a spot is
                                        taken from your balance every thousand impressions. You can also set daily
                                        budgets for ad campaigns, and pause a campaign at any time. Daily campaign stats
                                        are available to help you optimize your campaigns and maximize your revenue.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSeven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSeven" aria-expanded="false"
                                        aria-controls="collapseSeven">
                                        How does TrafficJunky Bidding system work?
                                    </button>
                                </h2>
                                <div id="collapseSeven" class="accordion-collapse collapse"
                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        The goal of our algorithm is two fold:<br>

                                        1. Maximize the CPM revenue for our publisher
                                        2. Distribute impressions among as many advertisers as possible
                                        In order to do so, it will check the bid amount, the targeting options for that
                                        campaign and the daily budget assigned to it.<br>

                                        If the account funds are too low to cover all active campaigns’ daily budget,
                                        the daily budget taken into account will be lowered to match the funds
                                        available, reducing the risk that the account will overspend and go into
                                        negative balance.<br>

                                        According to the number of potential impressions for each campaign set for that
                                        geo spot, along with the restrictions applied to the campaign (such as frequency
                                        capping), the algorithm will assign impressions based on the highest potential
                                        revenue for the publisher while trying to grant impressions to as many
                                        advertisers as possible.<br>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingEight">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseEight" aria-expanded="false"
                                        aria-controls="collapseEight">
                                        How do I know what share of a spot's impressions I will receive?
                                    </button>
                                </h2>
                                <div id="collapseEight" class="accordion-collapse collapse"
                                    aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        TrafficJunky is likely the most transparent traffic bidding platform out there.
                                        Whenever you set a bid for your ad, we will show you the estimated share of
                                        traffic it will grant you along with the bids and targeting options of other
                                        bidders on that spot / geo so you can adjust your own bid to match your
                                        marketing goals.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

                    <div class="row">
                        <h5 class="text-center mt-4 mb-3">General</h5>
                        <div class="accordion " id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingNine">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseNine" aria-expanded="true"
                                        aria-controls="collapseNine">
                                        What features do we offer?
                                    </button>
                                </h2>
                                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Time Targeting<br>
                                        Start your campaign immediately or target peak-conversion days and hours. Choose
                                        the days of the week and time-of day your ads are displayed and optimize your
                                        campaigns for your audience’s online buying behavior.<br><br>

                                        Geo Targeting<br>
                                        Define the boundaries of your geo-targeted campaigns to specific countries,
                                        regions, and cities. Max 10 GEOs per campaign.<br><br>

                                        Frequency Capping<br>
                                        Limit the number of times your ad is displayed to a visitor and avoid
                                        overexposure and response drops.<br><br>

                                        ISP Targeting<br>
                                        TrafficJunky’s ISP database gives you access to an extensive list of 10,000s of
                                        global mobile ISPs you can choose from to ensure your ads reach a precise mobile
                                        audience.<br><br>

                                        Keyword Targeting<br>
                                        Keyword targeting allows advertisers to reach users in the right context. Target
                                        your campaign to visitors’ tastes with keywords, search terms and other
                                        contextual targets. Your banners will only display when these keywords are
                                        searched<br><br>

                                        Device targeting<br>
                                        Engage your audience across desktop, tablet, and mobile devices to provide a
                                        consistent, impactful message. Leverage your campaign’s approach for a specific
                                        media device and its users’ behaviors.<br><br>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTen">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                        What verticals advertise on our network?
                                    </button>
                                </h2>
                                <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        1. Online dating<br>
                                        2. Gaming<br>
                                        3. Adult PPV, VOD & SVOD<br>
                                        4. Live Webcams<br>
                                        5. Gambling & Entertainment<br>
                                        6. Health & Beauty<br>
                                        7. Sexual Wellness and many others!<br>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingEleven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseEleven" aria-expanded="false"
                                        aria-controls="collapseEleven">
                                        Keys to Success:
                                    </button>
                                </h2>
                                <div id="collapseEleven" class="accordion-collapse collapse"
                                    aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        OPTIMIZE :- often. Make sure to update banners frequently. Add new ones to
                                        replace the lowest performing ones to increase ROI.<br><br>

                                        TRACK :- everything from click to conversion! We offer a TJ conversion tracker
                                        as well as S2S tracking. Many of our advertisers also use 3rd party tracking
                                        software to gather data. Voluum, Imobitrax and Prosper are a few great tracking
                                        tools available.<br><br>

                                        SCALE :- your campaign. Once you have a positive ROI, scale up by increasing bid
                                        selection, GEO targets, and try out new keywords. Keep in mind that you will
                                        still need to keep a close eye on your conversion ratio to make sure your
                                        updates don’t jeopardize your return on investment.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwelev">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwelev" aria-expanded="false"
                                        aria-controls="collapseTwelev">
                                        Top 5 mistakes advertisers make
                                    </button>
                                </h2>
                                <div id="collapseTwelev" class="accordion-collapse collapse"
                                    aria-labelledby="headingTwelev" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Thousands of advertisers use TrafficJunky on a daily basis to acquire the
                                        quality traffic they need to promote their offers. Every month, some of the
                                        newcomers fail to achieve the results they expected and they give up. Most of
                                        the time, however, success was not far off and a positive ROI could have been a
                                        reality by avoiding these 5 common mistakes:<br><br>

                                        5 - Creating misleading ads<br>
                                        Claiming on your ad that the service you offer is free, but once the visitor
                                        arrives on the landing page and sees a $50 price tag, then the user is more
                                        likely to drop off. The secret is to find a banner that will bring you a high
                                        CTR without being too far off from what you are selling so that you do not lose
                                        all those hard earned clicks.<br><br>

                                        4 - Using a single banner<br>
                                        At TrafficJunky, we see thousands of ads being uploaded daily. A common mistake
                                        that newcomers make is using only one banner for their entire campaign. The key
                                        is to test out multiple banners and see what works. No matter how good you are
                                        at banner design, you should always try different angles, calls to action or
                                        images to find the sweet combination that will bring you the quality clicks you
                                        are looking for.<br><br>

                                        3 - No A/B testing<br>
                                        The same error as with banners but related to the landing page. The landing page
                                        is one of the most important pieces of the affiliate marketing puzzle. The
                                        banner will spark the interest and get the user to your landing page, but this
                                        is where the business starts. You should use your landing page to hook the user
                                        and prepare him for the offer itself. We strongly advise you to test out several
                                        different landing pages and constantly drop the least performing ones while
                                        adding new landing pages to replace them.<br><br>

                                        2 - Not adjusting your bids<br>
                                        TrafficJunky is one of the most transparent ad networks out there. We show you
                                        the competing bids for a given spot/geo combination. You should always try to
                                        use this to your advantage - using the default bid might be an OK solution to
                                        test out a new set of banners, but if you really want to maximize your
                                        campaigns, you need to play around with your bids to find that sweet spot where
                                        you will get enough impressions to sustain the traffic to your landing page
                                        without overpaying so your eCPC stays low enough to be profitable.<br><br>

                                        1 - Giving up<br>
                                        This is by far the biggest error that affiliate marketers can make. If you are
                                        serious about making money online but need help making it happen, do not
                                        hesitate to reach out to our support. Our team of experts will be more than
                                        happy to help you get started on the road to success.<br><br>

                                        Building a successful campaign takes some investment in both time and money.
                                        Unless you are amazingly lucky, you will need to test a sizable amount of
                                        banners, landing pages and several different offers to find the secret recipe
                                        that will bring you success and a positive ROI.<br><br>

                                        Even the most seasoned marketers sometimes hit a wall with a new offer or a
                                        campaign that used to work but no longer converts as well. Staying focused is
                                        what will make the difference between success and failure.<br><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>