<section class="login">
    <div class="container">
        <div id="login_page" class="login_page pt-5">
            <%- include('../layouts/alerts') %>
                    
            <div class="form" >
                <div class="for_pass-title pb-2">
                    <h2 class="mb-4">Forgot password</h2>
                    
                </div>
                <form class="for_pass_form" method="post">
                    <input type="text" name="email" placeholder="Email">
                    <button class="Conform_pass mt-4">Send Otp</button>
                </form>
            </div>
        </div>
    </div>
</section>