
<!-- ================================= Hero start ================================ -->
<section id="hero" class="clearfix">
    <div class="container d-flex justify-content-center">
      
       <!-- <div class="row text-center hero_slider_txt">
          <h1>Join the best network for Erotic Sites</h1>  
          <p>Earn up to 70% CPC and CPM</p>
       </div> -->


          <div id="thumbnail-slider">
              <div class="inner">
                  <ul>
                      <li>
                          <a class="thumb" href="/public/images/slider/1.jpg"></a>
                      </li>
                      <li>
                          <a class="thumb" href="/public/images/slider/2.jpg"></a>
                      </li>
                      <li>
                          <a class="thumb" href="/public/images/slider/3.jpg"></a>
                      </li>
                      <li>
                          <a class="thumb" href="/public/images/slider/4.jpg"></a>
                      </li>
                      <li>
                          <a class="thumb" href="/public/images/slider/5.jpg"></a>
                      </li>
                      <li>
                          <a class="thumb" href="/public/images/slider/5.jpg"></a>
                      </li>
                      <li>
                          <a class="thumb" href="/public/images/slider/5.jpg"></a>
                      </li>
                      <li>
                          <a class="thumb" href="/public/images/slider/5.jpg"></a>
                      </li>
                      <li>
                          <a class="thumb" href="/public/images/slider/5.jpg"></a>
                      </li>
                      <li>
                          <a class="thumb" href="/public/images/slider/5.jpg"></a>
                      </li>
                     
                  </ul>
              </div>
          </div>
          
      
          <script>
              var thumbs1 = document.getElementById("thumbnail-slider");
              var slides = thumbs1.getElementsByTagName("li");
              for (var i = 0; i < slides.length; i++) {
                  slides[i].index = i;
                  slides[i].onclick = function (e) {
                      var li = this;
                      var clickedEnlargeBtn = false;
                      if (e.offsetX > 220 && e.offsetY < 25) clickedEnlargeBtn = true;
                  };
              }
          </script>
      </div>
      


    </div>
  </section>
<!-- ================================= Hero End ================================ -->

<!-- =================================== view section =========================== -->

 <section id="view" class="view">
    <div class="container">
        <div class="row box">
            <div class="text-center">
               <h2>960 000 000 <span>AD VIEW DAILY</span></h2>
            </div> 

            <div class="row mt-5">
                <div class="col-md-4">
                   <div class="row">
                       <div class="col-3">
                           <div class="global_icon">
                              <img src="/public/images/icon/global-network-1.png" class="w-100">
                           </div>
                       </div>
                       <div class="col-9">
                          <p class="mb-0 box_title_text">WORLD WIDE COVERAGE</p>
                          <p class="box_para_text">6 continents ,180+ countries perfect 
                            targeting and global geolocaizations.</p>
                       </div>
                   </div>
                </div>

                <div class="col-md-4">
                  <div class="row">
                    <div class="col-3">
                        <div class="pie_chart_icon">
                           <img src="/public/images/icon/pie-cart-1.png" class="w-100">
                        </div>
                    </div>
                    <div class="col-9">
                       <p class="mb-0 box_title_text">PERFORMANCE NETWORK</p>
                       <p class="box_para_text">Best terms of all advertising networks.
                        500+ M clicks processed per month.</p>
                    </div>
                </div>
                </div>

                <div class="col-md-4">
                  <div class="row">
                    <div class="col-3">
                        <div class="auction_icon">
                           <img src="/public/images/icon/auction-1.png" class="w-100">
                        </div>
                    </div>
                    <div class="col-9">
                       <p class="mb-0 box_title_text">REAL-TIME BIDDING SYSTEM</p>
                       <p class="box_para_text">All bids for traffic in real time, Effective
                        for both advertisers and publishers.</p>
                    </div>
                </div>
                </div>
            </div>
<!-- ========================================= -->
            <div class="row mt-4">
              <div class="col-md-4">
                 <div class="row">
                     <div class="col-3">
                         <div class="global_icon">
                            <img src="/public/images/icon/real-time-1.png" class="w-100">
                         </div>
                     </div>
                     <div class="col-9">
                        <p class="mb-0 box_title_text">REAL-TIME STATISTICS</p>
                        <p class="box_para_text">Detailed statistics for advertisers and 
                          publishers anytime and real time.</p>
                     </div>
                 </div>
              </div>

              <div class="col-md-4">
                <div class="row">
                  <div class="col-3">
                      <div class="pie_chart_icon">
                         <img src="/public/images/icon/customer-support-1.png" class="w-100">
                      </div>
                  </div>
                  <div class="col-9">
                     <p class="mb-0 box_title_text">DEDICATED SUPPORT</p>
                     <p class="box_para_text">24/7 Support available.            
                      Personal approach for all clients.</p>
                  </div>
              </div>
              </div>

              <div class="col-md-4">
                <div class="row">
                  <div class="col-3">
                      <div class="auction_icon">
                         <img src="/public/images/icon/budget-1.png" class="w-100">
                      </div>
                  </div>
                  <div class="col-9">
                     <p class="mb-0 box_title_text">CONVINIENT PAYMENTS</p>
                     <p class="box_para_text">Convenient payments processed by    
                      Paxum, PayPal, ePayments, Webmoney.</p>
                  </div>
              </div>
              </div>
          </div>

          <div class="text-center view_box_btn">
            <button type="button" class="btn">JOIN THE NETWORK</button>
          </div>

        </div>
    </div>
 </section>
 <!-- ==================================== view section End ============================ -->

 <!-- ====================================== trafic star ======================================== -->

 <section id="traffic_star" class="traffic_star">
  <div class="container">
      <div class="row box">
          <div class="text-center">
             <h2>Why <span>TrafficStars?</span></h2>
          </div> 
  
          <div class="row mt-5">
              <div class="col-md-4">
                <div class="grid-box text-center">
                   <div class="">
                     <img src="/public/images/icon/impression.png" >
                   </div>  
                   <div class="mt-3">
                    <p class="mb-0 box_title_text">4 billion impressions daily</p>
                    <p class="box_para_text">Exclusive sources, premium 
                      worldwide traffic at your fingertips.</p>
                   </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="grid-box text-center">
                  <div class="">
                    <img src="/public/images/icon/expert_support.png" >
                  </div>
                  <div class="mt-3">
                    <p class="mb-0 box_title_text">Expert Support</p>
                    <p class="box_para_text">Dedicated Account managers
                      assigned to each account.</p>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="grid-box text-center">
                  <div class="">
                    <img src="/public/images/icon/traffic_source.png" >
                  </div>
                  <div class="mt-3">
                    <p class="mb-0 box_title_text">Exclusive traffic sources</p>
                    <p class="box_para_text">Access to high-quality 
                      exclusive traffic sources.</p>
                  </div>
                </div>
              </div>
          </div>
         
<!-- ========================================= -->
          <div class="row ">
            <div class="col-md-4">
              <div class="grid-box text-center">
                <div class="">
                  <img src="/public/images/icon/ad_tech.png" >
                </div>
                <div class="mt-3">
                  <p class="mb-0 box_title_text">State of the art ad-tech</p>
                  <p class="box_para_text">Distributed bulletproof archit-
                    -ecture, 5 datancenter, 50k impressions per second.</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="grid-box text-center">
                <div class="">
                  <img src="/public/images/icon/machine_learn.png" >
                </div>
                <div class="mt-3">
                  <p class="mb-0 box_title_text">Machine learning</p>
                  <p class="box_para_text">Automatic optimization of your
                    campaigns done by Artificial Neural Network algorithms.</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="grid-box text-center">
                <div class="">
                  <img src="/public/images/icon/real_time_static.png" >
                </div>
                <div class="mt-3">
                  <p class="mb-0 box_title_text">Real-time statistics</p>
                  <p class="box_para_text">Detailed and real-time statistics
                    provide you with the insight to optimize campaigns.</p>
                </div>
              </div>
            </div>
          </div>

        <div class="text-center traffic_star_btn">
          <button type="button" class="btn">GET STARTED</button>
        </div>

      </div>
  </div>
</section>
<!-- ====================================== trafic star End ======================================== -->

<!-- ===================================== payment method ================================== -->
 <section id="payment_method" class="payment_method section-bg">
  <div class="container" data-aos="zoom-in">
    
    <div class=" tex-center">
        <h2>PAYMENT <span>METHODS SUPPORTED</span></h2>
    </div>

    <div class="row d-flex justify-content-center mt-3">

      <div class="col-lg-2 col-md-3 col-6 d-flex align-items-center justify-content-center">
        <img src="/public/images/clients/paxum.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg-2 col-md-3 col-6 d-flex align-items-center justify-content-center">
        <img src="/public/images/clients/payoner.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg-2 col-md-3 col-6 d-flex align-items-center justify-content-center">
        <img src="/public/images/clients/bitpay.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg-2 col-md-3 col-6 d-flex align-items-center justify-content-center">
        <img src="/public/images/clients/skrill.png" class="img-fluid" alt="">
      </div>

    </div>

  </div>
</section>
<!-- ===================================== payment method End ================================== -->
