<section id="publishers">
    <div class="publishers">
        <div class="container">
            <div class="text-center">
                <h2 class="p_u_h2">PUBLISH WITH <span>AdsErotic</span></h2>
                <p class="p_u_p">Do you want the advertising on your website to be sexy? What about malware-free,
                    adware-free, and scam-free?<br>
                    You've come to the right place,because JuicyAds cares about your website and traffic as much as you
                    do.<br>
                    If something goes wrong, we will do everything we can to make it right.</p>

                <div class="text-center publishers_box_btn">
                    <button type="button" class="btn">BECOME A PUBLISHER</button>
                    <button type="button" class="btn">BECOME AN ADVERTISER</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==================================== network for publisher =============================== -->

<section id="netpublisher">
    <div class="container net_for_publisher ">
        <div class="row text-center">
            <h2>You have <span>found</span> the best <br> <span>ads network</span> for publishers</h2>
            <p class="mt-2">Become our lifetime media partner and get personal help that will increase your revenue</p>
            <div class="text-center netpublisher_btn">
                <button type="button" class="btn">GET STARTED</button>
            </div>
        </div>
    </div>
</section>

<!-- ==================================== network for publisher End=============================== -->

<section id="banner_ads" class="banner_ads">
    <div class="container">
        <div class="row box">


            <div class="text-center mt-3">
                <h2>BANNER <span>ADS</span></h2>
                <p>Online banner campaigns deliver unprecedented performance.</p>
            </div>

            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="grid-box text-center">
                        <div class="">
                            <img src="/public/images/publisher/publisher-1.png">
                        </div>
                        <div class="mt-3">
                            <p class="mb-0 box_title_text">OPTIMIZED BANNERS</p>
                            <p class="box_para_text mt-2">Banners optimized for Mobile, Desktop,
                                Tablet, or Smart TV / Console traffic with
                                our advanced targeting,to ensure you get
                                exactly the type of traffic you want.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="grid-box text-center">
                        <div class="">
                            <img src="/public/images/publisher/publisher-2.png">
                        </div>
                        <div class="mt-3">
                            <p class="mb-0 box_title_text">EXCLUSIVE MARKETPLACE</p>
                            <p class="box_para_text box_para_textpt4 mt-2">Our exclusive marketplace provides both
                                network campaigns or flat rate “Direct
                                Buy” purchases, for the ultimate choice.</p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- ========================================= -->
            <div class="row ">
                <div class="col-md-6">
                    <div class="grid-box text-center">
                        <div class="">
                            <img src="/public/images/publisher/publisher-3.png">
                        </div>
                        <div class="mt-3">
                            <p class="mb-0 box_title_text">MAXIMIZE REVENUE</p>
                            <p class="box_para_text mt-2">Our network offers a dual solution of CPC and
                                CPM ads paying a combination of per click
                                and per impression at the highest possible
                                revenue for you.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="grid-box text-center">
                        <div class="">
                            <img src="/public/images/publisher/publisher-4.png">
                        </div>
                        <div class="mt-3">
                            <p class="mb-0 box_title_text">MULTIPLE SIZES</p>
                            <p class="box_para_text mt-2">We offer a wide variety of IAB Standard banner
                                sizes as well as some non-standard unique
                                sizes for your Publishing needs.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<!-- ============================================= pop-under banner ========================================== -->


<section id="banner_ads" class="banner_ads">
    <div class="container">
        <div class="row box">


            <div class="text-center mt-3">
                <h2>POP UNDERS <span>ADS</span></h2>
                <p>Popunder ads are displayed in a new browser window or tab and can remain hidden <br>
                    behind the main browser window.</p>
            </div>

            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="grid-box text-center">
                        <div class="">
                            <img src="/public/images/publisher/publisher-5.png">
                        </div>
                        <div class="mt-3">
                            <p class="mb-0 box_title_text">MAXIMUM EXPOSURE</p>
                            <p class="box_para_text mt-2">PopUnders allow your promotion to be
                                loaded behind the active window and then
                                available to be seen when the visitor closes
                                the window. Voila! Instant attention.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="grid-box text-center">
                        <div class="">
                            <img src="/public/images/publisher/publisher-6.png">
                        </div>
                        <div class="mt-3">
                            <p class="mb-0 box_title_text">QUALITY TESTED</p>
                            <p class="box_para_text box_para_textpt4 mt-2">We ensure quality and “clean” (malware
                                and scam free) pop advertisements through
                                rigorous testing and constant monitoring
                                for quality assurance.</p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- ========================================= -->
            <div class="row ">
                <div class="col-md-6">
                    <div class="grid-box text-center">
                        <div class="">
                            <img src="/public/images/publisher/publisher-7.png">
                        </div>
                        <div class="mt-3">
                            <p class="mb-0 box_title_text">TARGETED MARKETING</p>
                            <p class="box_para_text mt-2">Target different traffic types such as Mobile,
                                Desktop, or Tablet using many targeting
                                options to deliver just the most juicy
                                traffic to your offers.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="grid-box text-center">
                        <div class="">
                            <img src="/public/images/publisher/publisher-8.png">
                        </div>
                        <div class="mt-3">
                            <p class="mb-0 box_title_text">CUSTOMER CARE</p>
                            <p class="box_para_text mt-2">We care about your visitors as much as
                                you do and our ethical standards of what is
                                allowed in our network far exceeds
                                all competing networks.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>